<template>
  <div class="colorpicker-layout">
    <div class="colorpicker-color"
      v-for="(color, index) in palette" :key="index"
      :title="color"
      @click="select(color)" :style="'background-color: ' + cssColor(color)"></div>
    <div style="flex: 1"></div>
    <div class="colorpicker-color" :style="'background-color: ' + cssColor(selected)"></div>
  </div>
</template>

<script>
import _ from 'lodash'
import colors from 'vuetify/es5/util/colors'

export default {
  props: {
    value: String,
    native: Boolean,
    useMaterialPalette: Boolean,
    palette: {
      type: Array,
      default: () => [
        'white',
        'red',
        'pink',
        'purple',
        'deep-purple',
        'indigo',
        'blue',
        'light-blue',
        'cyan',
        'teal',
        'green',
        'light-green',
        'yellow',
        'amber',
        'orange',
        'deep-orange',
        'brown',
        'blue-grey',
        'grey',
        'transparent'
      ]
    }
  },
  data: () => {
    return {
      selected: null
    }
  },
  components: {

  },
  methods: {
    select(color) {
      this.selected = color

      if (this.native) {
        color = colors[_.camelCase(color)].base
      }

      this.$emit('input', color)
    },
    cssColor(color) {
      if (this.useMaterialPalette) {
        return colors[_.camelCase(color)] ? colors[_.camelCase(color)].base
          : 'rgba(0, 0, 0, 0)'
      } else {
        return color
      }
    }
  },
  computed: {

  },
  mounted() {
    this.selected = this.value
  }
}
</script>

<style scoped>
.colorpicker-layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.colorpicker-color {
  margin: 1px;
  width: 24px;
  height: 24px;
  border: 1px solid gainsboro;
}

.colorpicker-color:hover {
  border: 1px solid black;
}

</style>
