<template>
  <div :id="id" class="fd-layout">
    <!--UPLOAD-->
    <div class="fd-dropzone" @click="handleSave"
        :class="{ 'fd-error': err }">
      <div class="fd-fileitem" 
        v-for="(f, index) in uploaded"
        :key="index">{{ f }}</div>

      
      <div class="fd-fileitem-error" 
        v-for="(e, index) in err"
        :key="index">{{ e }}</div>
    </div>
  </div>
</template>

<script>
import path from 'path'
import fs from 'fs'
import electron from 'electron'

const dialog = electron.remote.dialog

export default {
  props: {
    value: String,
    acceptedFiles: {
      type: String,
      default: '*/*'
    },
    maxSize: {
      type: Number,
      default: 200000
    },
    multiple: Boolean
  },
  data: () => {
    return {
      id: 'fd_' + Math.random().toString(36).slice(2, 10),
      uploaded: [],
      err: null
    }
  },
  methods: {
    handleSave() {
      let properties = [ 'openFile' ] 
      let filters = [ { name: '', extensions: this.acceptedFiles }]
      this.err = null

      if (this.multiple) {
        properties.push('multiSelections')
      }

      dialog.showOpenDialog({ 
        properties: properties,
        filters: filters
      }, filePaths => {     
        if (filePaths === undefined) {
            console.log('load file cancelled')
            return
        }

        // fileName is a string that contains the path and filename created in the save file dialog.  
        for (let filepath of filePaths) {
          let filename = path.basename(filepath)
          let size = fs.statSync(filepath).size 
          console.log(size, this.maxSize, size > this.maxSize)
          if (size > this.maxSize) {
            this.err = this.err || []
            this.err.push(filename + ': ' + this.$t('File too big'))
            continue
          }

          let relativePath = path.join('uploads', this.$store.state.user._id)
          let destFolder = path.join(process.cwd(), relativePath)

          if (!fs.existsSync(destFolder)) {
            fs.mkdirSync(destFolder)
          } 

          let relativeFilename = path.join(relativePath, filename)
          let destination = path.join(destFolder, filename)

          fs.copyFile(filepath, destination, err => {
            if (err) {
              console.log(destination, err)
              this.$services.$emit('app:notification', this.$t('File load failed'))
            } else {
              this.uploaded.push(filename)
              if (!this.multiple) {
                this.$emit('uploaded', path.join('.', relativeFilename))
                this.$emit('input', path.join('.', relativeFilename))
              }
            }
          })
        }
      })
    }
  },
  computed: {

  },
  mounted() {
  },
  beforeDestroy() {

  }
}
</script>

<style scoped>
.fd-layout {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.fd-dropzone {
  margin: 8px;
  width: calc(100% - 16px);
  min-height: 200px; /* minimum height */
  border: 1px solid gainsboro;
  outline: 1px dashed grey; /* the dash box */
  outline-offset: -4px;
  color: dimgray;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
}

.fd-input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.fd-dropzone:hover {
  background: lightcyan; /* when mouse over to the drop zone, change color */
}

.fd-dropzone p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}

.fd-error {
  border: 1px solid tomato;
}

.fd-fileitem {
  margin: 2px;
  padding: 4px 2px;
  background-color: dodgerblue;
  color: white;
  width: calc(100% - 4px);
}

.fd-fileitem-error {
  margin: 2px;
  padding: 4px 2px;
  background-color: tomato;
  color: white;
  width: calc(100% - 4px);
}
</style>
