<template>
  <div :id="id" class="geo-layout">
    <div :id="'geoLayer_' + id" class="geo-layer">
      <div :id="'geoPopup_' + id" class="geo-popup"></div>
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3'
import Color from 'color'

import Map from 'ol/Map'
import View from 'ol/View'
import Overlay from 'ol/Overlay'
import TileLayer from 'ol/layer/Tile'
import VectorLayer from 'ol/layer/Vector'
import HeatmapLayer from 'ol/layer/Heatmap'
import VectorSource from 'ol/source/Vector'
import Feature from 'ol/Feature'
import Point from 'ol/geom/Point'
import Style from 'ol/style/Style'
import Fill from 'ol/style/Fill'
import Stroke from 'ol/style/Stroke'
import Circle from 'ol/style/Circle'
import Icon from 'ol/style/Icon'
import GeoJSON from 'ol/format/GeoJSON'
import Observable from 'ol/Observable'
import OSM from 'ol/source/OSM'
import Select from 'ol/interaction/Select'
import DragBox from 'ol/interaction/DragBox'
import {transform} from 'ol/proj'
import {easeOut} from 'ol/easing'
import {fromLonLat} from 'ol/proj'
import {platformModifierKeyOnly} from 'ol/events/condition'

export default {
  /* needs the type property to be filled in by parent */
  props: {
    data: Array,
    selectedData: Array,
    center: Array,
    location: Array,
    noClickAndPoint: Boolean,
    geojson: Object,
    geojsonItems: Array,
    doNotSetLocation: Boolean,
    hideData: Boolean,
    asset: Object,
    boxSelection: Boolean,
    zoom: Number,
    grayscaleMode: Boolean,
    markerIcon: {
      type: String,
      default: 'assets/markers/marker.png'
    },
    heatmap: Boolean
  },
  /*
    - needs to declare an unique id - starts with letter
    - needs to declare a title
  */
  data: () => {
    return {
      id: 'c_' + Math.random().toString(36).slice(2)
    }
  },
  watch: {
    data: function(val) {
      this.addVectorLayerFromData(val)
    },
    geojson: function(val) {
      if (val && ol) {
        this.addGeoJsonLayer('main', val)
      }
    },
    geojsonItems: function(val) {
      if (ol) {
        this.addGeoJsonItemsLayer('items', val)
      }
    },
    location: function(val) {
      if (val) {
        this.addPointerMarker(val)
      }
    },
    hideData: function(val) {
      if (!val) {
        this.addVectorLayerFromData(this.data)
        console.log('SHOW DATA')
      } else {
        this.addVectorLayerFromData()
      }
    }
  },
  methods: {
    getLayerById(id) {
      if (!this._mapBoard) return null
      let result = null

      this._mapBoard.getLayers().forEach(function(layer) {
        if (layer.get('id') === id) {
          result = layer
        }
      })

      return result
    },
    // [lon, lat]
    addMarker(layerId, coords, iconUrl, properties) {
      let markerLayer = this.getLayerById(layerId)
      let vectorSource = null

      if (!markerLayer) {
        vectorSource = new VectorSource({
          // create empty vector
        })

        // add the feature vector to the layer vector, and apply a style to whole layer
        let vectorLayer = new VectorLayer({
          source: vectorSource
        })

        vectorLayer.set('id', layerId)

        this._mapBoard.addLayer(vectorLayer)
      } else {
        vectorSource = markerLayer.getSource()
      }

      let markerFeature = new Feature({
        geometry: new Point(transform(coords,
          'EPSG:4326', 'EPSG:3857'))
      })

      // create the style
      let iconStyle = new Style({
        image: new Icon(/** @type {olx.style.IconOptions} */ ({
          anchor: [ 0.5, 1.1 ],
          anchorXUnits: 'fraction',
          anchorYUnits: 'fraction',
          opacity: 0.75,
          src: iconUrl || this.markerIcon
        }))
      })

      markerFeature.setStyle(iconStyle)

      vectorSource.addFeature(markerFeature)

      return markerFeature
    },
    removeMarker(layerId, marker) {
      let markerLayer = this.getLayerById(layerId)
      let features = markerLayer.getSource().getFeatures()

      for (let feature of features) {
        if (feature === marker) {
          markerLayer.removeFeatures(marker)
          break
        }
      }
    },
    // [lon, lat]
    addPointerMarker(coords, iconUrl) {
      let markerLayer = this.getLayerById('pointerMarker')

      if (!markerLayer) {
        let vectorSource = new VectorSource({
          // create empty vector
        })

        let iconFeature = new Feature({
          geometry: new Point(transform(coords,
            'EPSG:4326', 'EPSG:3857'))
        })

        // create the style
        let iconStyle = new Style({
          image: new Icon(/** @type {olx.style.IconOptions} */ ({
            anchor: [ 0.5, 1.1 ],
            anchorXUnits: 'fraction',
            anchorYUnits: 'fraction',
            opacity: 0.75,
            src: iconUrl || 'assets/markers/marker.png'
          }))
        })

        iconFeature.setStyle(iconStyle)

        vectorSource.addFeature(iconFeature)

        // add the feature vector to the layer vector, and apply a style to whole layer
        let vectorLayer = new VectorLayer({
          source: vectorSource
        })

        vectorLayer.set('id', 'pointerMarker')

        this._mapBoard.addLayer(vectorLayer)
      } else {
        let marker = markerLayer.getSource().getFeatures()[0]

        // create the style
        let iconStyle = new Style({
          image: new Icon(/** @type {olx.style.IconOptions} */ ({
            anchor: [ 0.5, 1.1 ],
            anchorXUnits: 'fraction',
            anchorYUnits: 'fraction',
            opacity: 0.75,
            src: iconUrl || 'assets/markers/marker.png'
          }))
        })

        marker.setStyle(iconStyle)
        marker.setGeometry(new Point(transform(coords,
          'EPSG:4326', 'EPSG:3857')))
      }
    },
    addVectorLayer(id, data, markerIcon) {
      if (!ol) return // not loaded yet
      this._dataVectorSrc = new VectorSource({
        // create empty vector
      })

      // create a bunch of icons and add to source vector
      for (let d of data) {
        let lat = d.location ? d.location[1] : d.lat
        let lon = d.location ? d.location[0] : d.lon

        if (lat === undefined || lon === undefined) continue
        let iconFeature = new Feature({
          geometry: new Point(transform([lon, lat],
            'EPSG:4326', 'EPSG:3857')),
          info: d
        })

        // create the style
        let iconStyle = new Style({
          image: new Icon(/** @type {olx.style.IconOptions} */ ({
            anchor: [ 0.5, 46 ],
            anchorXUnits: 'fraction',
            anchorYUnits: 'pixels',
            opacity: 0.75,
            src: markerIcon || this.markerIcon
          }))
        })

        iconFeature.setStyle(iconStyle)
        this._dataVectorSrc.addFeature(iconFeature)
      }

      // add the feature vector to the layer vector, and apply a style to whole layer
      let vectorLayer = new VectorLayer({
        source: this._dataVectorSrc
      })

      vectorLayer.set('id', id)

      this._mapBoard.addLayer(vectorLayer)
      console.log('vector layer added', id)
    },
    addVectorLayerFromData(data, tag, filter) {
      let dataLayer = this.getLayerById('rawData')
      if (dataLayer) {
        this._mapBoard.removeLayer(dataLayer)
        console.log('rawData layer removed')
      }

      if (!data || this.hideData) return // remove and go

      let output = []

      if (filter) {
        for (let d of data) {
          for (let p in d) {
            if (('' + d[p]).match(filter)) {
              output.push(d)
            }
          }
        }
      } else {
        output = data
      }

      if (output && output.length > 0) {
        this.addVectorLayer('rawData', output, tag)
      }
    },
    addHeatMapLayer(vectorSource, weightFct) {
      if (this.heatLayer) {
        this._mapBoard.removeLayer(this.heatLayer)
      }

      if (!vectorSource) return

      this.heatLayer = new HeatmapLayer({
        source: vectorSource,
        blur: 50,
        radius: 8
      })

      let features = vectorSource.getFeatures()

      for (let feature of features) {
        weightFct(feature)
      }

      this._mapBoard.addLayer(this.heatLayer)
    },
    addGeoJsonItemsLayer(name, items) {
      // ensure it exists
      this.geojsonLayers = this.geojsonLayers || {}
      // store by name
      if (this.geojsonLayers[name]) {
        this._mapBoard.removeLayer(this.geojsonLayers[name])
        console.log('removing geojson items layer', name)
      }

      if (!items) return // just remove and go

      let styleFunction = function(feature) {
        let styles = {
          'Point': new Style({
            image: new Icon(/** @type {olx.style.IconOptions} */ ({
              anchor: [0.5, 0.5],
              anchorXUnits: 'fraction',
              anchorYUnits: 'fraction',
              opacity: 0,
              src: 'assets/markers/train-station-small.png'
            }))
          }),
          'LineString': new Style({
            stroke: new Stroke({
              color: Color.hsl(120 * feature.get('value') || 120, 100, 34).string(), // feature.get('value'),
              width: 4
            })
          })
        }
        // console.log(feature.get('value'), Color.hsl(120*feature.get('value'), 100, 34).string())
        return styles[feature.getGeometry().getType()] || new Style({
          stroke: new Stroke({
            color: Color('tomato').alpha(0.5).lighten(Math.random()),
            width: 4
          })
        })
      }

      this.defaultVectorSource = this.defaultVectorSource || {}

      this.defaultVectorSource[name] = new VectorSource({
        features: (new GeoJSON())
          .readFeatures({
            'type': 'FeatureCollection',
            'features': items
          }, { featureProjection: 'EPSG:3857' })
      })

      this.geojsonLayers[name] = new VectorLayer({
        source: this.defaultVectorSource[name],
        style: styleFunction
      })

      this._mapBoard.addLayer(this.geojsonLayers[name])
      console.log('geojson items added', items.length) //, JSON.stringify(items))
    },
    addGeoJsonLayer(name, geojsonData) {
      // ensure it exists
      this.geojsonLayers = this.geojsonLayers || {}
      // store by name
      if (this.geojsonLayers[name]) {
        this._mapBoard.removeLayer(this.geojsonLayers[name])
        console.log('removing geojson layer', name)
      }

      let styles = {
        'Point': new Style({
          image: new Icon(/** @type {olx.style.IconOptions} */ ({
            anchor: [0.5, 0.5],
            anchorXUnits: 'fraction',
            anchorYUnits: 'fraction',
            opacity: 0.75,
            src: 'assets/markers/train-station-small.png'
          }))
        }),
        'LineString': new Style({
          stroke: new Stroke({
            color: 'gold',
            width: 4
          })
        })
      }

      let styleFunction = function(feature) {
        return styles[feature.getGeometry().getType()] || new Style({
          stroke: new Stroke({
            color: 'gold',
            width: 4
          })
        })
      }

      this.defaultVectorSource = this.defaultVectorSource || {}

      this.defaultVectorSource[name] = new VectorSource({
        features: (new GeoJSON())
          .readFeatures(geojsonData, { featureProjection: 'EPSG:3857' })
      })

      if (this.heatmap) {
        this.addHeatMapLayer(this.defaultVectorSource[name], function(feature) {
          let intensity = parseFloat(feature.get('961 - 95%'))
          let ref = parseFloat(feature.get('refLevel'))
          feature.set('weight', Math.abs(intensity - ref) / 10)
        })
      } else {
        this.geojsonLayers[name] = new VectorLayer({
          source: this.defaultVectorSource[name],
          style: styleFunction
        })

        this._mapBoard.addLayer(this.geojsonLayers[name])
      }
      console.log('geojson added') //, JSON.stringify(geojsonData))
    },
    resizeHandler() {
      console.log('ui:dashboard:panel:resize ---')
      this._mapBoard.updateSize()
    },
    refresh() {
      let source = this._osmLayer.getSource()
      source.refresh()
      console.log('geo refresh')
    },
    resize() {
      this._mapBoard.updateSize()
    },
    setViewToAddress(address) {
      this.$services.waitForService('geo').then(service => {
        this.$geo.location({ address: address }).then(result => {
          if (result) {
            let center = [parseFloat(result.lon), parseFloat(result.lat)]

            this._mapBoard.getView().setCenter(transform(
              center, 'EPSG:4326', 'EPSG:3857'))
          }
        }).catch(err => { console.log('external service error', err) })
      }).catch(err => { console.log('internal service err', err) })
    },
    setViewToMyPosition() {
      return new Promise((resolve, reject) => {
        if ('geolocation' in navigator) {
          navigator.geolocation.getCurrentPosition(position => {
            console.log('geolocation available', position)
            let center = [parseFloat(position.coords.longitude),
              parseFloat(position.coords.latitude)]
            console.log('my position', center)

            this._mapBoard.getView().setCenter(transform(center,
              'EPSG:4326', 'EPSG:3857'))

            resolve(center)
          })
        } else {
          this.$root.showAppNotification(this.$i18n.$t('Geolocation not available'))
          reject(new Error('geoloc not available'))
        }
      })
    },
    select(selectionInteraction, asset) {
      if (this._dataVectorSrc) {
        let features = this._dataVectorSrc.getFeatures()
        for (let feature of features) {
          if (feature.get('info')._id === asset._id) {
            selectionInteraction.getFeatures().push(feature)
            break
          }
        }
      }
    },
    unselect(asset) {
      let features = this._dataVectorSrc.getFeatures()

      for (let feature of features) {
        if (feature.get('info')._id === asset._id) {
          feature.setStyle(new Style({
            image: new Icon(/** @type {olx.style.IconOptions} */ ({
              anchor: [ 0.5, 46 ],
              anchorXUnits: 'fraction',
              anchorYUnits: 'pixels',
              opacity: 0.75,
              src: 'assets/markers/marker-' + feature.get('info').nodeClass + '.png'
            }))
          }))
          break
        }
      }
    },
    highlight(asset) {
      let features = this._dataVectorSrc.getFeatures()

      for (let feature of features) {
        if (feature.get('info')._id === asset._id) {
          feature.setStyle(new Style({
            image: new Icon(/** @type {olx.style.IconOptions} */ ({
              anchor: [ 0.5, 46 ],
              anchorXUnits: 'fraction',
              anchorYUnits: 'pixels',
              opacity: 0.75,
              src: 'assets/markers/marker-highlighted.png'
            }))
          }))
          break
        }
      }
    },
    unhighlight(asset, selected) {
      let features = this._dataVectorSrc.getFeatures()

      for (let feature of features) {
        if (feature.get('info')._id === asset._id) {
          feature.setStyle(new Style({
            image: new Icon(/** @type {olx.style.IconOptions} */ ({
              anchor: [ 0.5, 46 ],
              anchorXUnits: 'fraction',
              anchorYUnits: 'pixels',
              opacity: 0.75,
              src: 'assets/markers/marker-' + feature.get('info').nodeClass +
                (selected ? '-selected' : '') + '.png'
            }))
          }))
          break
        }
      }
    },
    greyscale(context) {
      let canvas = context.canvas
      let width = canvas.width
      let height = canvas.height
      let imageData = context.getImageData(0, 0, width, height)
      let data = imageData.data

      for (let i = 0; i < data.length; i += 4) {
        let r = data[i]
        let g = data[i + 1]
        let b = data[i + 2]
        // CIE luminance for the RGB
        let v = 0.2126 * r + 0.7152 * g + 0.0722 * b
        // Show white color instead of black color while loading new tiles:
        if (v === 0.0) {
          v = 255.0
        }
        data[i + 0] = v // Red
        data[i + 1] = v // Green
        data[i + 2] = v // Blue
        data[i + 3] = 255 // Alpha
      }

      context.putImageData(imageData, 0, 0)
    },
    /*
     * @param {Feature}
     * @param {Number} Duration in milliseconds.
     */
    flash(feature, duration) {
      let start = +new Date()
      let listenerKey // to remove the listener after the duration

      function animate(event) {
        // canvas context where the effect will be drawn
        let vectorContext = event.vectorContext
        let frameState = event.frameState

        // create a clone of the original Feature
        // on each browser frame a new style will be applied
        let flashGeom = feature.getGeometry().clone()
        let elapsed = frameState.time - start
        let elapsedRatio = elapsed / duration
        // radius will be 5 at start and 30 at end.
        let radius = easeOut(elapsedRatio) * 25 + 5
        let opacity = easeOut(1 - elapsedRatio)

        // you can customize here the style
        // like color, width
        let style = new Style({
          image: new Circle({
            radius: radius,
            snapToPixel: false,
            stroke: new Stroke({
              color: [255, 99, 71, opacity],
              width: 1 + opacity
            }),
            fill: new Fill({
              color: [255, 99, 71, 0.2],
              opacity: opacity
            })
          })
        })

        vectorContext.setStyle(style)
        vectorContext.drawGeometry(flashGeom)
        if (elapsed > duration) { // stop the effect
          Observable.unByKey(listenerKey)
          return
        }

        // tell OL3 to continue postcompose animation
        this._mapBoard.render()
      }

      listenerKey = this._mapBoard.on('postcompose', animate.bind(this))

      // tell OL3 to continue postcompose animation
      this._mapBoard.render()
    },
    flyTo(location, duration, done) {
      let zoom = this._mapView.getZoom()
      let parts = 2
      let called = false

      function callback(complete) {
        --parts

        if (called) {
          return
        }

        if (parts === 0 || !complete) {
          called = true
          done(complete)
        }
      }

      this._mapView.animate({
        center: fromLonLat(location),
        duration: duration
      }, callback)

      this._mapView.animate({
        zoom: zoom - 1,
        duration: duration / 2
      }, {
        zoom: zoom + 8,
        duration: duration * 2
      }, callback)
    }
  },
  mounted() {
    this._osmLayer = new TileLayer({
      preload: Infinity,
      source: new OSM({
        crossOrigin: '*'
      })
    })

    this._mapView = new View({
      center: fromLonLat(this.center || [2.347690, 48.854581]),
      zoom: this.zoom || 8
    })

    this._mapBoard = new Map({
      target: 'geoLayer_' + this.id,
      layers: [ this._osmLayer ],
      view: this._mapView
    })

    if (this.grayscaleMode) {
      this._osmLayer.on('postcompose', event => {
        this.greyscale(event.context)
      })
    }

    let popUpElement = document.getElementById('geoPopup_' + this.id)

    this._mapPopup = new Overlay({
      element: popUpElement,
      positioning: 'bottom-center',
      stopEvent: false
    })

    this._mapBoard.addOverlay(this._mapPopup)

    this._mapBoard.on('click', evt => {
      // no click and point
      if (this.noClickAndPoint) return

      // remove popup if any
      d3.select(popUpElement)
        .style('display', 'none')

      this._mapBoard.forEachFeatureAtPixel(evt.pixel,
        (feature, layer) => {
          if (feature) {
            this._mapPopup.setPosition(evt.coordinate)
            // feature.get('tag')
            let info = feature.get('info')

            if (info) {
              let name = feature.get('info').name
              let nc = feature.get('info').nodeClass

              d3.select(popUpElement)
                .style('display', 'block')
                .html('<div><b>' + name + '</b></div><div>' + nc + '</div>')
            }
          }
        })

      // console.log(evt.coordinate, d3.select(popUpElement).style('display'))
      if (!this.doNotSetLocation) {
        let lonlat = transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326')

        if (d3.select(popUpElement).style('display') === 'none') {
          this.addPointerMarker(lonlat)
        }

        this.$emit('location', lonlat)

        this.$geo.reverse({
          lat: lonlat[1],
          lon: lonlat[0]
        }).then(result => {
          // console.log('services:geo:event:location', result)
          this.$services.$emit('services:geo:event:location', result)
        }).catch(err => {
          console.log(err)
        })
      }
    })

    // set center
    let center = this.center || [2.347690, 48.854581]
    // console.log(this.center)
    this._mapBoard.getView().setCenter(transform(center,
      'EPSG:4326', 'EPSG:3857'))

    // add marker for location if defined
    if (this.location) {
      this.addPointerMarker(this.location)
    }

    if (this.asset) {
      this.addPointerMarker(this.asset.location,
        'assets/markers/marker-' + this.asset.nodeClass + '.png')
    }

    // add geojson layer if geojson data
    if (this.geojson) {
      this.addGeoJsonLayer('main', this.geojson)
    }

    // manage data vector source
    if (this.data) {
      this.addVectorLayerFromData(this.data)
    }

    // box selection
    if (this.boxSelection) {
      this.$utils.waitForProperty(this, '_dataVectorSrc').then(vectorSource => {
        // a normal select interaction to handle click
        let select = new Select()
        this._mapBoard.addInteraction(select)

        let selectedFeatures = select.getFeatures()

        // a DragBox interaction used to select features by drawing boxes
        let dragBox = new DragBox({
          condition: platformModifierKeyOnly
        })

        this._mapBoard.addInteraction(dragBox)

        dragBox.on('boxend', function() {
          // features that intersect the box are added to the collection of
          // selected features
          let extent = dragBox.getGeometry().getExtent()
          vectorSource.forEachFeatureIntersectingExtent(extent, function(feature) {
            selectedFeatures.push(feature)
          })
        })

        // clear selection when drawing a new box and when clicking on the map
        dragBox.on('boxstart', function() {
          selectedFeatures.clear()
        })

        // let infoBox = document.getElementById('info')

        selectedFeatures.on(['add', 'remove'], (evt) => {
          let assets
          if (evt.type === 'add') {
            assets = selectedFeatures.getArray().map(function(feature) {
              let info = feature.get('info')
              feature.setStyle(new Style({
                image: new Icon(/** @type {olx.style.IconOptions} */ ({
                  anchor: [ 0.5, 46 ],
                  anchorXUnits: 'fraction',
                  anchorYUnits: 'pixels',
                  opacity: 0.75,
                  src: 'assets/markers/marker-' + info.nodeClass + '-selected.png'
                }))
              }))
              return info
            })
          }

          if (evt.type === 'remove') {
            evt.element.setStyle(new Style({
              image: new Icon(/** @type {olx.style.IconOptions} */ ({
                anchor: [ 0.5, 46 ],
                anchorXUnits: 'fraction',
                anchorYUnits: 'pixels',
                opacity: 0.75,
                src: 'assets/markers/marker-' + evt.element.get('info').nodeClass + '.png'
              }))
            }))

            assets = selectedFeatures.getArray().map(function(feature) {
              let info = feature.get('info')
              feature.setStyle(new Style({
                image: new Icon(/** @type {olx.style.IconOptions} */ ({
                  anchor: [ 0.5, 46 ],
                  anchorXUnits: 'fraction',
                  anchorYUnits: 'pixels',
                  opacity: 0.75,
                  src: 'assets/markers/marker-' + info.nodeClass + '.png'
                }))
              }))
              return info
            })
          }

          if (assets.length > 0) {
            // console.log(assets)
            this.$emit('selectedData', assets)
          } else {
            console.log('No assets selected')
            this.$emit('selectedData', assets)
          }
        })

        if (this.selectedData) {
          for (let d of this.selectedData) {
            this.select(select, d)
          }
        }

        console.log('boxSelection')
      }).catch(err => console.log(err))
    }

    this.$services.$on('ui:dashboard:panel:resize', this.resizeHandler)
  },
  beforeDestroy() {
    // remove listeners if any
    this.$services.$off('ui:dashboard:panel:resize', this.resizeHandler)
  }
}
</script>

<style>
.geo-layout {
  width: 100%;
  height: 100%;
}

.geo-layer {
  width: 100%;
  height: calc(100% - 0px);
  font-weight: normal;
  z-index: 0;
}

.geo-popup {
  display: none;
  padding: 2px 4px;
  width: 140px;
  min-height: 40px;
  font-size: 0.6em;
  background-color: rgba(33, 33, 33, 0.8);
  border: 1px solid rgba(233, 233, 233, 0.3);
  color: lightgray;
}

.geo-layout .ol-dragbox {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(30, 144, 255, 0.6);
}
</style>
