<template>
  <div v-if="tree" class="jsonviewer-layout">
    <div v-if="showProperty(item.name)"
      v-for="item in tree._properties" :key="item.name"
      class="jsonviewer-property"
      :class="{ 'norm-invisible': !visibleProperty(item.name) }"
      @click="handleHit(item.name)">
      <span class="jsonviewer-property-name"
        :class="{ 'norm-invisible': !visibleProperty(item.name) }">{{ item.name }}</span>
      <span class="jsonviewer-property-content">{{ item.value }}</span>
    </div>

    <div v-if="showProperty(child.name) && tree"
      v-for="child in tree._children" :key="child.name"
      class="jsonviewer-property"
      :class="{ 'norm-invisible': !visibleProperty(child.name) }"
      @click="handleHit(child.name)">
      <span class="jsonviewer-property-name">{{ child.name }}</span>
      <jsonviewer ref="childViewer" :dataAsTree="child"></jsonviewer>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: Object,
    dataAsTree: Object,
    showAll: Boolean,
    hidden: Array
  },
  watch: {
    data: function() {
      this.tree = null
      this.$forceUpdate()

      setTimeout(() => {
        if (this.data) {
          this.tree = this.buildTree('root', this.data)
        } else {
          this.tree = this.dataAsTree
        }
      }, 100)
    },
    hidden: function(val) {
      if (val) {
        this.hiddenProperties = JSON.parse(JSON.stringify(val))
      }
    }
  },
  data: () => {
    return {
      tree: null,
      hiddenProperties: []
    }
  },
  components: {

  },
  methods: {
    buildTree(name, json) {
      let result = {
        name: name
      }

      if (typeof json === 'object' || Array.isArray(json)) {
        let el = {}
        result._children = []
        result._properties = []
        for (let p in json) {
          el[p] = { name: p }
          if (typeof json[p] === 'object') {
            result._children.push(this.buildTree(p, json[p]))
          } else if (Array.isArray(json[p])) {
            result._children.push(this.buildTree(p, json[p]))
          } else {
            result._properties.push({
              name: p,
              value: json[p]
            })
          }
        }
      } else {
        result = json
      }

      return result
    },
    handleHit(what) {
      let idx = this.hiddenProperties.indexOf(what)

      if (idx >= 0) {
        this.hiddenProperties.splice(idx, 1)
      } else {
        this.hiddenProperties.push(what)
      }

      this.$emit('config', this.hiddenProperties)
    },
    visibleProperty(which) {
      for (let p of this.hiddenProperties) {
        if (p === which) return false
      }

      return true
    },
    showProperty(which) {
      if (this.showAll) return true

      return this.visibleProperty(which)
    }
  },
  computed: {

  },
  mounted() {
    if (this.hidden) {
      this.hiddenProperties = this.hidden
    }

    if (this.data) {
      this.tree = this.buildTree('root', this.data)
    } else {
      this.tree = this.dataAsTree
    }
  },
  beforeDestroy() {

  }
}
</script>

<style scoped>
.jsonviewer-layout {
  width: 100%;
  height: calc(100% - 0);
  overflow-y: auto;
}

.jsonviewer-property {
  padding: 2px 8px;
}

.jsonviewer-property.norm-invisible {
  color: silver!important;
  background-color: white!important;
}

.jsonviewer-property.norm-invisible:hover {
  background-color: dimgray!important;
}

.jsonviewer-property:hover {
  background-color: deepskyblue;
}

.jsonviewer-property-name.norm-invisible {
  background-color: rgba(0, 0, 0, 0)!important;
}

.jsonviewer-property-name {
  padding: 2px 4px;
  background-color: navajowhite;
}

.jsonviewer-property-content {
  font-size: 0.8em;
  font-family: monospace;
}
</style>
