<template>
  <div class="user-layout">
    <jsonform v-if="user !== null && schema !== null"
      :schema="schema" :data="user" @update="handleUpdate"
      :hideNavigation="hideNavigation"></jsonform>

    <div class="user-validation">
      <v-btn flat icon color="red darken-2"
        v-if="user && !!user._id && $store.state.user.role === 'admin'"
        @click="handleDelete">
        <v-icon>delete</v-icon>
      </v-btn>

      <v-btn flat icon color="green darken-2"
        :disabled="!validationAllowed"
        @click="handleProceed">
        <v-icon>check</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3'
import _ from 'lodash'
import JSONForm from './JSONForm.vue'

export default {
  props: {
    value: Object,
    hideNavigation: Boolean,
    notCurrent: Boolean
  },
  data: () => {
    return {
      user: null,
      schema: null,
      validationAllowed: false
    }
  },
  methods: {
    setExpanded(expanded) {
      for (let child of this.$children) {
        if (child.$vnode.tag.match('jsonform')) {
          child.setExpanded(expanded)
        }
      }
    },
    handleUpdate(path, val, removal) {
      this.$utils.updatePropertyByPath(this.user, path, val)
      this.$forceUpdate()

      if (this.user.username !== '' && this.user.firstname !== '' && this.user.lastname !== '') {
        if (JSON.stringify(this.user) !== this.whenMounted) {
          this.validationAllowed = true
        }
      }

      if (this.notCurrent) {
        this.$store.commit('otherUser', this.user)
      } else {
        this.$store.commit('user', this.user)
      }
    },
    handleProceed() {
      console.log('proceed', this.notCurrent)
      if (this.notCurrent) {
        this.$syncdb.users.put(this.user, this.$store.state.user._id).then(result => {
          this.$services.$emit('app:notification', this.$i18n.$t('Your updates have been validated'))
          this.$emit('input', this.user)
          this.$router.push('/users')
        }).catch(err => {
          console.log(err)
          this.$services.$emit('app:notification', this.$i18n.$t('Your updates have been rejected'))
        })
      } else {
        this.$syncdb.users.put(this.user, this.$store.state.user._id).then(result => {
          this.$services.$emit('app:notification', this.$i18n.$t('Your updates have been validated'))
          if (this.user.role === 'admin') {
            this.$router.push('/users')
          } else {
            this.$router.push('/')
          }
          this.$emit('input', this.user)
        }).catch(err => {
          console.log(err)
          this.$services.$emit('app:notification', this.$i18n.$t('Your updates have been rejected'))
        })
        }
    },
    handleDelete() {
      this.$syncdb.users.del(this.user, this.$store.state.user._id).then(result => {
        this.$router.push('/users')
      }).catch(err => console.log(err))
    }
  },
  computed: {
    userProperties() {
      return Object.keys(this.schema.properties)
    }
  },
  components: {
    jsonform: JSONForm
  },
  mounted() {
    this.user = _.cloneDeep(this.value)
    this.whenMounted = JSON.stringify(this.user)
    
    // get schema
    d3.json('data/schemas/user.schema.json').then(schema => {
      this.schema = schema
    }).catch(err => console.log(err))

    // set buttons
    this.$services.$emit('app:context:buttons:add', {
      name: 'back',
      iconOn: 'arrow_back',
      iconOff: 'arrow_back',
      handleClick: b => {
        if (b.on) {
          this.$router.push('/users')
        }
      },
      on: false
    })
  },
  beforeDestroy() {
    this.$services.$emit('app:context:buttons:remove', {
      name: 'back'
    })
  }
}
</script>

<style>
.user-layout {
  width: 100%;
  height: calc(100% - 48px);
}

.user-validation {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  border-top: 1px solid lightgrey;
}
</style>
