<template>
  <div class="users-layout">
    <v-btn v-if="!selectionMode && $store.state.user.role === 'admin'"
      class="ig-bottom-right-8" dark small fab flat absolute color="amber"
      @click="addUser">
      <v-icon>add</v-icon>
    </v-btn>

    <div v-if="selectionMode">
      <v-text-field class="app-search"
        prepend-icon="search" @change="handleFilterUpdate">
      </v-text-field>
    </div>

    <div class="users-list">
      <v-card hover style="height: 180px;"
        v-for="user in filteredUsers" :key="user._id"
        @click.native="handleSelection(user)"
        class="users-item no-text-selection">

        <v-card-title>
          <v-avatar>
            <img :src="user.avatar ? $utils.imgUrl(user.avatar) : '/assets/user.png'" alt="">
          </v-avatar>

          <div style="margin-left: 8px; width: calc(100% - 60px);">
            <div class="users-item-name ig-title ig-ellipsis">
              {{ user.firstname + ' ' + user.lastname }}
            </div>
            <div class="users-item-name ig-subhead">
              {{ user.username }}
              <v-icon v-if="user.role === 'admin'" style="color: gold">
                grade</v-icon></div>
          </div>
        </v-card-title>

        <v-card-text v-if="user.contactInfo" class="users-item-content" style="flex: 1 ">
          <div v-if="user.contactInfo" class="users-item-elem">
            <v-icon style="margin-right: 4px;">mail</v-icon>
            {{ user.contactInfo.email }}</div>
          <div class="users-item-elem"
            v-if="user.contactInfo.phone.mobile && user.contactInfo.phone.mobile !== ''">
            <v-icon style="margin-right: 4px;">phone</v-icon>
            {{ user.contactInfo.phone.mobile }}</div>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import * as d3 from 'd3'

export default {
  props: [ 'selectionMode' ],
  data: () => {
    return {
      users: null,
      filter: ''
    }
  },
  methods: {
    async update() {
      this.$utils.waitForProperty(this.$syncdb, 'ready').then(() => {
        this.$syncdb.users.find({}, this.$store.state.user._id).then(docs => {
          this.users = docs.sort((a, b) => {
            if (a.lastname < b.lastname) {
              return -1
            } else if (a.lastname > b.lastname) {
              return 1
            } else {
              if (a.firstname < b.firstname) {
                return -1
              } else if (a.firstname > b.firstname) {
                return 1
              } else {
                return 0
              }
            }
          })
          console.log('received users ' + docs.length)
        })
      }).catch(err => console.log(err))
    },
    handleSelection(user) {
      if (this.selectionMode) {
        this.$services.$emit('app:component:users:selection', user)
      } else {
        if (this.$store.state.user.role === 'admin') {
          this.$store.commit('otherUser', user)
          this.$router.push('/edituser')
        }
      }
    },
    handleFilterUpdate(e) {
      this.filter = e
    },
    handleUserUpdate(id) {
      this.update()
    },
    addUser() {
      let url = 'data/schemas/user.schema.json'
      d3.json(url).then(doc => {
        let user = this.$utils.generateDataFormJSONSchema({ schema: doc })
        this.$store.commit('otherUser', user)
        this.$router.push('/edituser')
      }).catch(err => console.log(err))
    }
  },
  computed: {
    filteredUsers() {
      if (this.users) {
        if (this.filter !== '') {
          return this.users.filter(item => {
            if ((item.firstname + item.lastname).toLowerCase()
              .match(this.filter.toLowerCase())) {
              return true
            }
            return false
          })
        } else {
          return this.users
        }
      } else {
        return []
      }
    }
  },
  mounted() {
    // handle filtering
    this.handleFilterEvent = e => {
      this.filter = e
    }

    // listeners
    this._listeners = {
      onUserUpdate: this.handleUserUpdate.bind(this),
      onFilterUpdate: this.handleFilterEvent.bind(this)
    }

    this.$services.$on('app:filter', this._listeners.onFilterUpdate)

    // handle sorting: force ascendent
    this.update()
  },
  beforeDestroy() {
    this.$services.$off('app:filter', this._listeners.onFilterUpdate)
  }
}
</script>

<style>
.users-layout {
  width: 100%;
  height: 100%;
}

.users-list {
  width: 100%;
  height: calc(100% - 0px);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: auto;
}

.users-item {
  margin: 4px;
  width: 256px;
  min-height: 140px;
}

.users-item:hover {
  background-color: rgba(255, 222, 173, 0.3);
}

.users-item-name {
  display: flex;
  align-items: center;
}

.users-item-status {
  margin-left: 4px;
  width: 8px;
  height: 8px;
  background-color: gainsboro;
  border-radius: 50%;
}

.users-logged {
  background-color: forestgreen;
}

.users-item-elem {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .users-item {
    width: calc(100% - 8px);
  }
}
</style>
