<template>
  <transition name="fade">
    <div class="admin-layout">
      <!-- SERVICES -->
      <v-card class="admin-panel">
        <v-card-title class="admin-panel-title">{{ $t('Services') }}</v-card-title>
        <v-card-text v-if="services" class="admin-list ig-scrollable">
          <div :id="'service_' + m.name" v-if="m" class="admin-tile services elevation-2"
            :class="{ 'iios': m.options }"
            :title="m.name"
            v-for="m in services" :key="m.name">
            <div class="admin-tile-title">{{ m.name }}</div>
            <div v-if="m.options" class="admin-health-ind"></div>
          </div>
        </v-card-text>
      </v-card>

      <!-- SETTINGS -->
      <v-card class="admin-panel ig-scrollable">
        <v-card-title class="admin-panel-title">{{ $t('Settings') }}</v-card-title>
        <v-card-text class="admin-settings-content ig-scrollable">
          <h4 class="admin-section-title">{{ $t('Theming') }}</h4>
          <div style="display: flex; align-items: center">
            <h5 style="margin-right: 8px">{{ $t('Toolbar color') }}</h5>
            <colorpicker class="admin-settings-color" useMaterialPalette
              :value="$store.state.toolbarColor"
              @input="$store.commit('toolbarColor', $event)"></colorpicker>
          </div>

          <div style="display: flex; align-items: center; height: 32px">
            <h5 style="margin-right: 8px">{{ $t('Flat toolbar') }}</h5>
            <v-checkbox v-model="$store.state.flatToolbar"
              @change="$store.commit('flatToolbar', $event)"></v-checkbox>
          </div>

          <div style="display: flex; align-items: center; height: 32px">
            <h5 style="margin-right: 8px">{{ $t('Show section name') }}</h5>
            <v-checkbox v-model="$store.state.showSection"
              @change="$store.commit('showSection', $event)"></v-checkbox>
          </div>

          <div style="display: flex; align-items: center; height: 32px">
            <h5 style="margin-right: 8px">{{ $t('Dark theme') }}</h5>
            <v-checkbox v-model="$store.state.darkTheme"
              @change="handleDarkTheme"></v-checkbox>
          </div>
        </v-card-text>
      </v-card>
    </div>
  </transition>
</template>

<script>
import * as d3 from 'd3'
import _ from 'lodash'
import request from 'request'
import ColorPicker from '../components/iio/ColorPicker.vue'
import moment from 'moment'
import colors from 'vuetify/es5/util/colors'

const CpuIntervalMax = 14

export default {
  data() {
    return {

    }
  },
  components: {
    'colorpicker': ColorPicker
  },
  computed: {
    services() {
      return Object.values(this.$services.services)
    }
  },
  methods: {
    handleDarkTheme(val) {
      this.$store.commit('darkTheme', val)
      if (val) {
        this.$vuetify.theme.primary = colors.amber.darken2
        this.$store.commit('toolbarColor', 'transparent')
      } else {
        this.$vuetify.theme.primary = colors.blue.darken2
        this.$store.commit('toolbarColor', 'white')
      }
    }
  },
  mounted() {
    // toolbar section name display
    this.$store.commit('section', this.$i18n.$t('Administration'))

    this.$services.$on('service:up', this.$forceUpdate)
    this.$services.$on('service:down', this.$forceUpdate)
  },
  beforeDestroy() {
    if (this.cpuChart) this.cpuChart.destroy()

    this.$services.$off('service:up', this.$forceUpdate)
    this.$services.$off('service:down', this.$forceUpdate)
  }
}
</script>

<style>
.admin-layout {
  width: 100%;
  height: calc(100% - 0px);
  padding: 2px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.admin-panel {
  width: calc(50% - 8px);
  height: 400px;
  margin: 4px;
}

.admin-list {
  height: calc(100% - 53px);
  padding: 2px 8px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}

.admin-tile {
  width: 180px;
  margin: 3px;
  padding-bottom: 4px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.admin-tile.services {
  width: 90px;
  height: 90px;
}

.admin-tile-title {
  width: 100%;
  padding: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.admin-tile.services.iios {
  position: relative;
  background-color: peru;
  color: white;
}

.admin-tile-small {
  margin: 1px 4px;
  padding: 2px 4px;
  width: calc(100% - 8px);
  background-color: deepskyblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-tile:hover {
  /* navajowhite */
  background-color: rgba(255, 222, 173, 0.5)!important;
}

.admin-settings-content {
  padding: 8px 12px;
  height: calc(100% - 37px);
  overflow-y: auto;
}

.admin-section-title {
  width: 100%;
  text-align: right;
  color: slategrey;
  margin-bottom: 8px;
}

.admin-key {
  margin: 4px 0;
  padding: 2px 2px 2px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-key:hover {
  /* navajowhite */
  background-color: rgba(255, 222, 173, 0.5)!important;
}

.admin-icon:hover {
  color: dodgerblue!important;
}

.admin-panel-title {
  padding: 8px;
  font-weight: bold;
}

.admin-settings-color {
  width: 100%;
  height: 48px;
}

.admin-health-ind {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: lime;
}

.admin-chart {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .admin-panel {
    width: calc(100% - 8px);
  }
}
</style>
