<template>
  <div class="login-layout">
    <v-card hover class="login-card">
      <v-card-title>
        <h3 class="login-headline">{{ $t('Sign in') }}</h3>
        <div>{{ $t('Sign into your account')}}</div>
      </v-card-title>

      <v-card-text>
        <form @submit.stop.prevent="signin">
          <v-text-field :label="$t('Username')" v-model="username" required>
          </v-text-field>

          <v-text-field
            :append-icon="e1 ? 'visibility' : 'visibility_off'"
            @click:append="tooglePasswordVisibility"
            :type="e1 ? 'password' : 'text'"
            :label="$t('Password')" v-model="password"
            required>
          </v-text-field>

          <div class="login-actions">
            <v-btn type="submit" flat color="blue"
              v-bind:disabled="!valid">{{ $t('Sign in') }}</v-btn>
          </div>
        </form>
      </v-card-text>
      <v-card-actions>

      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import * as d3 from 'd3'
import bcryptjs from 'bcryptjs'
import jwt from 'jsonwebtoken'

export default {
  data: () => {
    return {
      username: '',
      password: '',
      e1: true
    }
  },
  methods: {
    tooglePasswordVisibility() {
      this.e1 = !this.e1
    },
    signin() {
      this.$auth.signin({
        username: this.username,
        password: this.password
      }).then(response => {
        if (response) {
          this.$store.commit('user', response.user)
          localStorage.token = response.token

          // go to root page
          this.$router.push('/')

          // inform
          this.$services.$emit('app:login')
        } else {
          this.$root.showAppNotification(this.$i18n.$t('Bad username or password'))
        }
      }).catch(err => {
        console.log(err) // avoid extra Lint error
        this.$root.showAppNotification(this.$i18n.$t('Bad username or password'))
      })
    }
  },
  computed: {
    valid() {
      return this.username !== '' && this.password !== ''
    }
  },
  mounted() {
    // BUG: needs removal here since wierd behaviour
    d3.select('.app-context-buttons').selectAll('*').remove()

    if (this.$store.state.user) {
      this.$router.push('/')
    } else {
      this.$i18n.resetTranslation()
    }
  }
}
</script>

<style scoped>
.login-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.login-card {
  margin: 4px;
  width: 400px;
  max-height: calc(100% - 2em);
  overflow-y: auto;
}

.login-headline {
  width: 100%;
  font-size: 1.5em;
}

.login-actions {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .login-card {
    width: calc(100% - 8px);
  }
}
</style>
